include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electroncash.conf.sample
include electron.desktop
include *.py
include electron-ash
recursive-include electroncash *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include app.fil
include icons.qrc
recursive-include icons *
recursive-include scripts *

